<% document ||= @document %>
<% if document_downloadable? %>

  <div class='btn-group' itemprop='distribution' itemscope='itemscope' itemtype='http://schema.org/DataDownload'>

    <%= render 'downloads_primary' %>
    <%= render 'downloads_secondary' unless document['dct_provenance_s'] == "MIT" %>
  </div>

  <% elsif document.restricted? && document.same_institution? %>

    <div class='card-body'>
      <% if ENV['AUTH_TYPE'] == 'developer' %>

        <%= link_to(t('geoblacklight.tools.login_to_view'),
                    user_developer_omniauth_authorize_path,
                    class: "btn btn-primary btn-wrap") %>

      <% elsif ENV['AUTH_TYPE'] == 'saml' %>

        <%= link_to(t('geoblacklight.tools.login_to_view'),
                    user_saml_omniauth_authorize_path,
                    class: "btn btn-primary btn-wrap") %>

      <% else %>

        <%= link_to(t('geoblacklight.tools.login_to_view'),
                    user_shibboleth_omniauth_authorize_path,
                    class: "btn btn-primary btn-wrap") %>

      <% end %>
    </div>
<% end %>
